<div class="app-bg">
  <div class="app-container">
    <h1 class="app-title">
      健康意識チェッカー👀
    </h1>

    <p class="mb-12 text-gray-900 text-xl leading-relaxed">
      3つの質問に答えるだけで、<br>
      あなたの健康意識レベルチェック☑️
    </p>

    <div class="my-6 text-5xl animate-bounce">
      🥗🏃‍♂️💤
    </div>

    <%= link_to "診断をはじめるっ！🚀", question1_health_checks_path, class: "app-button" %>

    <div class="mt-8 space-y-2">
      <p class="text-lg text-gray-800 font-medium">
        レベル：高・中・低 のどれかが出るよ🌱
      </p>
      <p class="text-lg text-gray-800 font-medium">
        ※ 5秒くらいで終わるよ、たぶん。🐥
      </p>
    </div>

  </div>
</div>