<div class="question-container">
  <h2 class="question-title">
    あなたは今1階にいます。<br>
    2階に移動するなら？
  </h2>

  <div class="answer-buttons">
    <%= link_to "エスカレーター", "#", class: "answer-button" %>
    <%= link_to "階段", "#", class: "answer-button" %>
  </div>
</div>
