<div class="question-container">
  <h2 class="question-title">
    いただいますー！<br>
    はじめにに箸をつけるのはどっち？
  </h2>

  <div class="answer-buttons">
    <%= link_to "サラダ", "#", class: "answer-button" %>
    <%= link_to "味噌汁", "#", class: "answer-button" %>
  </div>