<div class="question-container">
  <h2 class="question-title">
  おやつは何にする？
  </h2>

  <div class="answer-buttons">
    <%= link_to "カステラ", "#", class: "answer-button" %>
    <%= link_to "キャラメルポップコーン", "#", class: "answer-button" %>
  </div>
</div>
