<div class="top-container">
  <h1>健康意識チェッカー</h1>

  <p class="subtitle">
    3つの質問に答えるだけで、<br>
    あなたの健康意識レベルをチェック☑️
  </p>

  <%= link_to "診断を始める", new_health_check_path, class: "start-button" %>
</div>
